*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
/sample-ionic-project/mobilefirst
/sample-ionic-project/www
/sample-ionic-project/platforms
!/sample-ionic-project/*/www/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
package-lock.json
xcuserdata
IDEWorkspaceChecks.plist
sample-ionic-project/plugins/android.json
sample-ionic-project/plugins/ios.json
